body {
    font-family: sans-serif;
    font-size: 11pt;
}
.draggable {
    width: 25%;
    height: auto;
    background-color: Orange;
    border: gray;
    margin-bottom: 1em;
    padding: 4px;
    cursor: default;
    box-shadow: 5px 5px 5px gray;
}
.active {
    border: 2px solid #6699ff;
}
#droppable {
    font-size: 14pt;
    width: 400px;
}
#droppableHolder {
    margin-top: 1em;
}
