<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link rel="stylesheet" href="about.css" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<style>
	
		.centered p{
			border: 1px;
			padding: 70px;
			background-color: black;
			color: white;
			width: 100%;
			
			
		}
		
		td
		{
		    padding:0 15px 0 15px;
		}
		table{
			border: solid thin;
			box-shadow: 5px 5px 5px black;
		}
		img{
			margin-top: 1em;
		}
		tr{
			padding-bottom: 4em;
		}
	
	</style>
</head>

<body background="bkg.jpg">
  
	<div class="menu">
	    <div class="container-fluid">
			<div class="navbar-header" style="padding: 20px">
				<a href="/frontPage">NationPedia</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
				
					<li><a href="/homepage" > Home</a></li>
					<li><a href="/worldMap"> Country Details</a>
					<li><a href="/accountLink"> Account</a></li>
					
				</ul>
			</div>
		</div>
	</div>
	</br>
	</br>
	</br>
	<br>
	<br>

	
	<table align="center">
		
		<tr>
			<td align="center">
				<img src="girl1.png" width="150" height="150">		
			</td>
			<td align="center">
				<p "font-weight:bold; font-size:15px;">Harika Reddy Billuri</p>
				<a href="https:// www.linkedin.com/in/harikabilluri/">https:// www.linkedin.com/in/harikabilluri</a><br>
				<p>harikareddy.billuri@sjsu.edu</p>	
			</td>	
		</tr>
		<tr>
			<td align="center">
				<img src="boy1.png" width="150" height="150">		
			</td>
			<td align="center">
				<p "font-weight:bold; font-size:15px;">Mahesh Shinde</p>
				<a href="https://www.linkedin.com/in/mahesh-shinde-39a251153/">https://www.linkedin.com/in/mahesh-shinde-39a251153/</a><br>
				<p>maheshmohan.shinde@sjsu.edu</p>	
			</td>	
		</tr>
		<tr>
			<td align="center">
				<img src="boy2.jpg" width="150" height="150">		
			</td>
			<td align="center">
				<p "font-weight:bold; font-size:15px;">Neeraj Venugopal</p>
				<a href="https://www.linkedin.com/in/neerajvenugopal/">https://www.linkedin.com/in/neerajvenugopal/</a><br>
				<p>neeraj.venugopal@sjsu.edu</p>	
			</td>	
		</tr>
		<tr>
			<td align="center">
				<img src="boy3.png" width="150" height="150">		
			</td>
			<td align="center">
				<p "font-weight:bold; font-size:15px;">Tanmay Raoji Shinde</p>
				<a href="https://www.linkedin.com/in/tanmay-shinde-921100118/">https://www.linkedin.com/in/tanmay-shinde-921100118/</a><br>
				<p>tanmayraoji.shinde@sjsu.edu</p>	
			</td>	
			
		</tr>
			
			
			
		
	</table>
	
  	
</body>
</html>