<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="frontPage.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<style>
		.mps{
			
			display:block;
			margin-left: 23%;
			margin-right:25%;
			
		}
	</style>
    
</head>
<body background="bkg.jpg" >
    
		<div class="menu">
		    <div class="container-fluid">
				<div class="navbar-header" style="padding: 20px; margin-botton: 2em;">
					<a href="/frontPage">NationPedia</a>
				</div>
				<div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/homepage" > Home</a></li>
						<li><a href="/aboutLink"> About Us</a></li>
						<li><a href="/accountLink"> Account</a></li>
						
					</ul>
				</div>
			</div>
		</div>
		
		
		
	
	<div>
		</br>
		</br>
		</br>
		</br>
		</br>
		<iframe src="https://public.tableau.com/views/ElectricityAccess_0/Dashboard1?:embed=y&:display_count=yes&publish=yes&:showVizHome=no" width="1000" height="700" frameborder="0" class="mps" ></iframe>
	</div>

    
</body>
</html>