<!DOCTYPE HTML>
<HTML>
<head>
	<title>NationPedia</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="firstCSS.css" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>	
	<style>
	td
	{
	    padding:0 15px 0 15px;
	}
	table{
		border: solid thin;
		box-shadow: 5px 5px 5px black;
	}
	img{
		margin-top: 1em;
	}
	tr{
		padding-bottom: 4em;
	}
	
	</style>
   		
</head>
<body background="bkg.jpg">
	<div class="menu">
	    <div class="container-fluid">
			<div class="navbar-header" style="padding: 20px">
				<a href="/frontPage">NationPedia</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/worldMap"> Country Details</a>
					<li><a href="/aboutLink"> About Us</a></li>
					<li><a href="/accountLink"> Account</a></li>
					
					
				</ul>
			</div>
		</div>
	</div>
	</br>
	</br>	
	</br>
	</br>
	</br>	
	</br>
	<div>
		
		<table align="center">
			<tr>
				<td>
					<td align="center">
						<img src="people.png" width="150" height="150">
						<div>
							<a style="font-size:15px; font-weight:bold; margin-top:300px;" href="/populationDB" >POPULATION</a>
						</div>
						
					</td>
					<!-- <td align="center">
						<p> </p>
					</td> -->
				<td>
				<td>
					<td align="center">
						<img src="communication.png" width="150" height="150">
						<div>
							<a style="font-size:15px; font-weight:bold; margin-top:300px" href="/communicationDB" >COMMUNICATION</a>
						</div>
						
					</td>
					<!-- <td align="center">
						<p></p>
					</td> -->
				<td>
				<td>
					<td align="center">
						<img src="electricity.png" width="150" height="150">
						<div>
							<a style="font-size:15px; font-weight:bold; margin-top:300px" href="/electricDB" >ELECTRICITY</a>
						</div>
						
					</td>
					<!-- <td align="center">
						<p></p>
					</td> -->
				<td>
				<td>
					<td align="center">
						<img src="economy.png" width="150" height="150">
						<div>
							<a style="font-size:15px; margin-top:300px" href="" >ECONOMY</a>
						</div>
						
					</td>
					<!-- <td align="center">
						<p>This dashboard provides information about ........</p>
					</td> -->
				<td>
			</tr>
			
		</table>
		
		
	</div>
	
   	
</body>
</HTML>