<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="frontPage.css">
    <script src="frontPage.js" type="text/javascript"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body background="bkg.jpg">
    
		<div class="menu">
		    <div class="container-fluid">
				<div class="navbar-header" style="padding: 20px">
					<a href="/frontPage">NationPedia</a>
				</div>
				<div>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/homepage" > Home</a></li>
						<li><a href="/aboutLink"> About Us</a></li>
						<li><a href="/accountLink"> Account</a></li>
						
					</ul>
				</div>
			</div>
		</div>
	
	<div>
		<canvas id="c" align="center"></canvas>
	</div>
	

    
</body>
</html>